footer.main-footer
  h2.visually-hidden Мы в социальных сетях
  .footer-col
    a.hashtag(href="#") #VISITSEDONA
  ul.footer-col
    li.sosial__item
      a.social-btn.social-btn-tw(href="#")
        span.visually-hidden Twitter
        svg.socials__icon
          use(xlink:href='img/icons/symbol/sprite.svg#twitter')
    li.sosial__item
      a.social-btn.social-btn-fb(href="#")
        span.visually-hidden Facebook
        svg.socials__icon
          use(xlink:href='img/icons/symbol/sprite.svg#fb-icon')
    li.sosial__item
      a.social-btn.social-btn-yt(href="#")
        span.visually-hidden YouTube
        svg.socials__icon
          use(xlink:href='img/icons/symbol/sprite.svg#youtube')
  .footer-col
    a.logo-link(href="https://htmlacademy.ru")
      span Website by
      span.visually-hidden HTML Academy
      svg.logo-html
          use(xlink:href='img/icons/symbol/sprite.svg#logo-htmlacademy')
