extends ../template

block variables
  - var title = 'Sedona'

block content
  .wrapper
    .container
      include ../common/header.pug
      main.main-content
        section.hero
          svg.hero__text
            use(xlink:href='img/icons/symbol/sprite.svg#text-index')
          svg.triangles.triangles--blog(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1200 56" preserveaspectratio="none")
            polygon.triangle__left(points="0,0 0,56 602,56 300,28 300,0 602,56")
            polygon.triangle__right(points="1200,0 1200,56 598,56 900,28 900,0 598,56")
        section.content
          .slogan
            h2.slogan__title 
              |СЕДОНА — небольшой городок в АРИЗОНЕ,
              br
              |заслуживающий большего!
            p.slogan__text Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!
          .features
            .features__item_first
              .features-desc
                .features__title Настоящий городок
                .features__num - 1 -
                p.features__text СЕДОНА — НЕ АТтРАКЦИОН ДЛЯ ТУРИСТОВ, ТАМ ТЕЧЕТ СВОЯ ЖИЗНЬ
              .features__photo_one
            ul.features-town
              li.features-town__item
                svg.features__icon
                  use(xlink:href='img/icons/symbol/sprite.svg#icon-1')
                  .features__title Жилье
                  p.features__text Рекомендуем пожить в настоящем мотеле, все как в кино!
              li.features-town__item
                svg.features__icon
                  use(xlink:href='img/icons/symbol/sprite.svg#icon-2')
                  .features__title Еда
                  p.features__text Всегда заказывайте ФИРМЕННЫЙ БУРГЕР, Вы НЕ разочаруетесь!
              li.features-town__item
                svg.features__icon
                  use(xlink:href='img/icons/symbol/sprite.svg#icon-3')
                  .features__title Сувениры
                  p.features__text Не только китайского, но и местного производства!
            .features__item_second
              .features__photo_two
              .features-desc
                .features__title ТАМ ЕСТЬ Мост дьявола
                .features__num - 2 -
                p.features__text Да, по нему можно пройти! Если конечно вы осмелитесь
            ul.features-list
              li.features__item
                .features-desc.features-desc_grey
                  .features__title НЕБОЛЬШАЯ ПЛОЩАДЬ
                  .features__num - 3 -
                  p.features__text ВСЕ достопримечательности находятся очень близко
              li.features__item
                .features-desc.features-desc_grey
                  .features__title КРАСИВАЯ ДОРОГА
                  .features__num - 4 -
                  p.features__text ЕХАТЬ В СЕДОНУ ИЗ ЛАС-ВЕГАСА совсем НЕ СКУЧНО!
              li.features__item
                .features-desc.features-desc_grey
                  .features__title МАЛО ТУРИСТОВ
                  .features__num - 5 -
                  p.features__text Большинство едет в гранд каньон и толпится там
          .slogan
            h2.slogan__title ЗАИНТЕРЕСОВАЛИСЬ?
            p.slogan__text 
              |Укажите предполагаемые даты поездки,
              br
              |и мы покажем вам лучшие предложения гостиниц в седоне
            button.btn ПОИСК ГОСТИНИЦЫ В седоне
        section.map#map
  include ../common/footer.pug

  section.modal.modal-search
    form.modal-search-form(action="https://echo.htmlacademy.ru" method="get")
      .row
        label(for="check-in-date") Дата заезда:
        input.check-in-date#check-in-date(type="text" name="check-in-date" value="24 апреля 2017")
        a(href="#").icon-calendar
          span.visually-hidden Выбор даты заезда в календаре
          svg.calendar
            use(xlink:href='img/icons/symbol/sprite.svg#calendar')
      .row
        label(for="check-out-date") Дата выезда:
        input.check-in-date#check-out-date(type="text" name="check-out-date" value="24 июля 2017")
        a(href="#").icon-calendar
          span.visually-hidden Выбор даты заезда в календаре
          svg.calendar
            use(xlink:href='img/icons/symbol/sprite.svg#calendar')           
      .row
        label(for="adults") Взрослые:
        button.change-count-btn.btn-left(type="button" name="search-form-people remove") 
          span.visually-hidden Минус
        input#adults.people-input(type="text" name="adults" value="2")
        button.change-count-btn.btn-right(type="button" name="search-form-people add") 
          span.visually-hidden Плюс
        label(for="kids") Дети:
        button.change-count-btn.btn-left(type="button" name="search-form-people remove") 
          span.visually-hidden Минус
        input#kids.people-input(type="text" name="kids" value="0")
        button.change-count-btn.btn-right(type="button" name="search-form-people add") 
          span.visually-hidden Плюс
      button(type="submit").button-modal-search Найти

  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbH6qkNd8BBf9nBQvWM0vSUvSk2I3XKTE&callback=initMap")
