.features__item_first,
.features__item_second {
  display: flex;
}

.features-desc {
  background: $blue;
  color: #fff;
  text-align: center;
  padding: 50px 55px;
}

.features__title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 30px;
}

.features__num {
  margin-bottom: 30px;
}

.features__text {
  margin: 0;
  padding: 0;
}

.features__photo_one {
  height: 260px;
  width: 100%;
  background: url(../../img/bg/bg-1.jpg);
  background-size: cover;
}

.features-town {
  display: flex;
  justify-content: space-between;
  padding: 60px 6%;
  align-items: center;
}

.features-town__item {
  width: 25%;
  text-align: center;
}

.features__icon {
  width: 80px;
  height: 80px;
  fill: $blue;
  margin-bottom: 30px;
}

.features__photo_two {
  height: 260px;
  width: 100%;
  background: url(../../img/bg/bg-2.jpg);
  background-size: cover;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-desc_grey {
  background: #eeeeee;
  color: #000;
}