.hero {
  height: 510px;
  background: url(../../img/bg/hero-bg.jpg) center no-repeat;
  position: relative;
}

.hero__text {
  width: 100%;
  margin: 75px auto;
  height: 360px;
}

.triangles {
  fill: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}